
$breaskpoint-small: 0;
$breaskpoint-medium: '768px';
$breaskpoint-large: '1200px';

$base-unit: 8px;
$max-app-width: 1440px;


$brand-color: #1EBAB2;
$primary-color: black;
$secondary-color: #9B9B9B;
$light-grey: #E5E5E5;