@import "mixins";

@include font-face(proxima-nova, "./fonts/proxima-nova", 400, normal, ttf);
@include font-face(proxima-nova, "./fonts/proxima-nova-semibold", 700, bold, ttf);

html, body{
  margin:0;
}

body {
  font-family: proxima-nova, arial, sans-serif;
}

.container {

}
